@import '../../styles/utils/colors';

.submitButton{
  text-align: center;
  color: white;
  line-height: 50px;
  font-size: 20px;
  border-radius: 25px;
  font-weight: 600;
  background-color: $grass-blade;
  padding: 0 2em;
  cursor: pointer;

  &__inactive{
    background-color: $elephant-paw;
  }

  &__loader{
    margin-left: 15px;
    
    &__hidden{
      visibility: hidden;
    }
    
    &__loading{
      visibility: visible;
      animation: spin-animation 0.9s infinite;
    }
  }
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}